@import "./normalize.scss", "./text.scss";


.post-preview {
  h3.post-title {
    margin-bottom: 0;
  }

  .summary {
    margin-top: 0.8rem;
  }

  margin-bottom: 2rem;
}

.post-title {

  .tags {
    > *:not(:last-child) {
      margin-right: 0.25rem;
    }
  }

  > h1 {
    margin-bottom: 0.4rem;
  }

  margin-bottom: 3rem;
}

.footer-rule {
  margin-top: 4rem;
}

.related-container {
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  text-align: center;

  > .link {
    flex-shrink: 0;
    padding: 1rem;
    box-sizing: border-box;
    width: 50%;
  }
}

.footer-about {
  text-align: center;
  font-size: 1rem;
  padding: 0 1rem;
}

img {
  max-width: 100%;
  margin: auto;
}

.taxonomy-name {
  text-transform: capitalize;
}

.taxonomy-container {
  display: flex;
  flex-wrap: wrap;

  > .term:not(:last-child) {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
  }
}
