{% extends "base.html" %}

{% block styles%}
  <link rel="stylesheet" href="{{ get_url(path="index.css") | safe }}">
{% endblock styles %}

{% block posthead %}
  <link rel="prefetch" href="{{ resize_image(path=config.extra.profile_large, width=280, height=373, op="fill") }}">

  {% if config.extra.latest_text %}
    {% set blog_path = "blog" %}
    {% if config.extra.blog_path %}
      {% set_global blog_path = config.extra.blog_path %}
    {% endif %}
    {% set blogs = get_section(path=blog_path ~ "/_index.md") %}
    {% set latest = blogs.pages.0 %}
    {% if latest %}
      <link rel="prerender" href="{{ latest.permalink }}" />
    {% endif %}
  {% endif %}
{% endblock posthead %}


{% block content %}
  <div class="profile">
    <div class="profile-container">
      <img src="{{ resize_image(path=config.extra.profile_large, width=280, height=373, op="fill") }}" alt="profile picture">
    </div>
  </div>
  <div class="content">
    {{ section.content | safe }}

    {% if config.extra.latest_text %}
      {% set blog_path = "blog" %}
      {% if config.extra.blog_path %}
        {% set_global blog_path = config.extra.blog_path %}
      {% endif %}
      {% set blogs = get_section(path=blog_path ~ "/_index.md") %}
      {% set latest = blogs.pages.0 %}
      <div class="latest-container">
        {% if latest %}
        {{ config.extra.latest_text }} "<a href="{{ latest.permalink }}">{{ latest.title }}</a>"
        {% endif %}
      </div>
    {% endif %}

    <nav class="lower">
      {% for link in config.extra.nav %}
        <a href="{{ link.path }}">{{ link.name }}</a>
      {% endfor %}
    </nav>
  </div>
{% endblock content %}
