{% macro post_preview(post, summary_truncate_length=300) %}
  <div class="post-preview">
    <h2 class="post-title"><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
    <small>
      {{ post.date| date(format="%B %d, %Y") }} &nbsp;&centerdot;&nbsp; {{ post.word_count }} words &nbsp;&centerdot;&nbsp; {{ post.reading_time }} mins
    </small>
    <div class="summary">
      {% if post.summary -%}
        {{ post.summary | safe }}
      {% else %}
        {{ post.content | truncate(length=summary_truncate_length) | safe }}
      {%- endif %}
      <p><small><a href="{{ post.permalink }}#continue-reading">continue reading &mldr;</a></small></p>
    </div>
    <hr class="gradient-line"/>
  </div>
{% endmacro input %}
